# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [1]:
def myfunction():
    print('Hello world')
myfunction() # calling the function to get the output

Hello world

In [2]:
def myfunct2():
    print(8*2)
myfunct2()

16

### Why we need function?

In [3]:
print('2001 Newburg Road')
print('2001 Newburg Road')
print('2001 Newburg Road')
print('2001 Newburg Road')
print('2001 Newburg Road')

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

In [4]:
def address():
    print('2001 Newburg Road')
address()
address()
address()
address()
address()

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [5]:
def squared(number):
    return (number**2)
squared(123.55)

15264.602499999999

In [6]:
def cubed(num):
    return(num**3)
cubed(5)

125

## Our own functions for practice
`Echo` that will act same as print

In [7]:
def echo(data):
    return data
echo(5)

5

In [8]:
echo('hi')

'hi'

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [9]:
def favorite_book(title):
    print('One of my favorite books is '+ title)
favorite_book('Harry Potter')

One of my favorite books is Harry Potter

In [10]:
def favorite_book1(title):
   # message=('One of my favorite books is '+ title)
    return(title+ " is one of my favorite books")
favorite_book1('Harry Potter')

'Harry Potter is one of my favorite books'

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [11]:
def calc_MPG(md, gu):
    return(md/gu)
calc_MPG(100, 5)

20.0

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [17]:
def MPG(miles=200,gallon=12):
    #miles=100
    gallon=10
    return (miles/gallon)

In [18]:
MPG(miles=11)

1.1

###  Function repeat using `for` loop

In [14]:
def repeatecho(data, count):
    for i in range(count):
        print(data)

In [15]:
repeatecho('2001 newburg road', 5)

2001 newburg road
2001 newburg road
2001 newburg road
2001 newburg road
2001 newburg road

In [19]:
#print your name 20 times
def na(nam, count):
    for p in range(count):
        print(nam)
na('Langdon', 20)

Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon
Langdon

## Practice: Define a function called `name` and print your name 20 times using the function

In [ ]:
def name

### Write a function to find maximum of three values

In [20]:
max(23,56,78)

78

In [21]:
def maximum(a,b,c):
    if a>b and a>c:
        largest=a
    elif b>c and b>a:
        largest=b
    else:
        largest=c
    return(largest)

In [22]:
maximum(20,10,15)

20

In [24]:
maximum(100,90,800)

800

In [25]:
maximum(100,900,100)

900

### Practice Example: Define `minimum` function of three values

In [27]:
def minimum(a,b,c):
    if a<b and a<c:
        smallest=a
    elif b<c and b<a:
        smallest=b
    else:
        smallest=c
    return(smallest)

In [28]:
minimum(1,2,3)

1

In [29]:
minimum(3,2,1)

1

In [30]:
minimum(3,1,3)

1

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [32]:
def addition(*args):
    return sum(args)

In [33]:
addition(2,2,2)

6

In [34]:
addition(1,2,33,54,5,3,3,234,32,423,423,4,234,23,4,23)

1501

In [37]:
import statistics
def average(*args):
    return statistics.mean(args)

In [39]:
average(10,5,0)

5

In [40]:
average(10,10,10,10,11)

10.2

### Arbitary Argumented list with list

In [41]:
numbers=[34,56,78,99]
average(*numbers)

66.75

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [42]:
x=10 #global variable

def scopeoffunction(num):
    return num*2 # num is a local variable 
scopeoffunction(200)

400

In [43]:
x

10

In [ ]:
num #it is a local vaiable so calling it outside of the function will return an error

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [47]:
x=10
def try_to_modify_global():
    x=3.5
    print(x)
try_to_modify_global()

3.5

In [49]:
x

10

# * To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

In [51]:
x=10
def modify_global():
    global x
    x=3.5
    print(x)
modify_global()

3.5

In [52]:
x

3.5

## Write functions to find out Area and Perimeter of circle

In [53]:
from math import pi
pi

3.141592653589793

In [56]:
def circa(r):
    return (pi*(r**2))
def peri_circle(r):
    return (2*pi*r)
r=int(input('Enter the value of the radius: '))  
print('The area of the circle is', round(circa(r)))
print('The perimeter of the circle is', round(peri_circle(r)))

Enter the value of the radius: 10
The area of the circle is 314
The perimeter of the circle is 63

## Write functions to find out Area and Perimeter of rectangle

In [60]:
def arect(l,w):
    return(l*w)
def rectp(l,w):
    return(2*l+2*w)
l=int(input('Enter the length of the rectangle: '))
w=int(input('Enter the width of the recatangle: '))
print('The area of the rectangle is', arect(l,w))
print('The perimeter of the rectangle is',rectp(l,w))

Enter the length of the rectangle: 1
Enter the width of the recatangle: 1
The area of the rectangle is 1
The perimeter of the rectangle is 4

## Random Number Generation
* Can introduce the element of chance via the Python Standard Library’s `random` module.

* `randrange` function generates an integer from the first argument value up to, but not including, the second argument value.
* Different values are displayed if you re-execute the loop.
* random.randrange where `random` is module and `randrange` is method

In [70]:
import random
x=random.randrange(10,20)
print(x)

16

In [74]:
# filling an empty list with random numbers
List=[]
for i in range(10):    # ten entries to the list
    x=random.randrange(1,20)    # the numbers will be in between one and 19 
    List.append(x)
    
print(List)

[3, 14, 2, 16, 16, 15, 11, 16, 15, 4]

## create a list of 20 numbers in the range of 30 to 50

In [77]:
li=[]
for p in range(20):
    o=random.randrange(30,51)
    li.append(o)
print(li)

[37, 44, 45, 32, 40, 35, 40, 50, 33, 50, 46, 33, 45, 38, 31, 36, 50, 39, 36, 38]

### Guess the number between 1 to 10

In [79]:
import random
number=random.randint(1,10)  # this includes ten but when range the ten woudl not be included
enterednum=None
time=0

while enterednum!=number:
    enterednum= int(input('Enter a number from one to ten: '))
    if enterednum==number:
        print('You won!' , 'You took', time, 'tries.')
    else:
        print('Try again!')
        time+=1

Enter a number from one to ten: 1
Try again!
Enter a number from one to ten: 2
Try again!
Enter a number from one to ten: 3
Try again!
Enter a number from one to ten: 4
Try again!
Enter a number from one to ten: 5
Try again!
Enter a number from one to ten: 6
Try again!
Enter a number from one to ten: 7
Try again!
Enter a number from one to ten: 8
Try again!
Enter a number from one to ten: 9
You won! You took 8 tries.